.card{ 
    width:100%;
    margin-right: 50px;
    display: block;
    text-align: center; 
}
.image{
    width:500px;
    height: 500px;
    display: flex;
    margin: auto;
    
}
.dots{
    width:500px;
    display: inline;
    margin: auto;
    
    
}
.name, .location{
    display: block;
    margin-left: 20px;
    
}
.heart ,.plane{
    margin-left: 20px;
}
.likes{
    display: block;
    margin: 20px 20px;

    
}
.data{
    margin-right: 0px;
}
.descriptions{
    width:100%;
    margin:50px;
}
